[tool.bumpver]
current_version = "1.3.0-beta14"
version_pattern = "MAJOR.MINOR.PATCH[-TAGNUM]"
commit_message = "chore: Bump version {old_version} -> {new_version}"
commit = true
fetch = false
tag = false
push = false

[tool.bumpver.file_patterns]
"composer.json" = [
    '"version": "{version}",',
]
"etc/config.xml" = [
    '<version>{version}</version>'
]
