parameters:
    level: 1
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$block might not be defined.#'
        - '#Undefined variable: \$block#'
        # Monolog 3 (shipped with Magento 2.4.8) added an @final PHPDoc marker on
        # Monolog\Logger. The Magento convention for declaring a per-module log
        # channel is to subclass Logger; Magento\Framework\Logger\Monolog itself
        # does this. The @final is advisory and the runtime permits extension.
        - '#Class Two\\Gateway\\Logger\\(Debug|Error)Logger extends @final class Monolog\\Logger#'
    fileExtensions:
        - php
        - phtml
    excludePaths:
        - Test/*
        - dev/*
