<?xml version="1.0"?>
<!--
/**
 * Copyright © Two.inc All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="two_admin_sales_order_shipment_after" instance="Two\Gateway\Observer\SalesOrderShipmentAfter"/>
    </event>
    <event name="payment_method_assign_data_two_payment">
        <observer name="two_payment_data_assign" instance="Two\Gateway\Observer\DataAssignObserver"/>
    </event>
</config>
