<div class="payment-method two-payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="what_is_two" data-bind="visible: isTwoLinkEnabled">
        <a data-bind='attr: {href: $t("https://www.two.inc/what-is-two")}, text: $t("What is two?")' target="_blank"></a>
    </div>

    <div class="payment-method-content">
        <div class="data" style="color: green; font-size: 80px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 5rem auto; text-align: center;"></div>

        <!-- ko ifnot: showSoleTrader -->
        <div class="mode_selector" data-element="popup-message">
            <span class="mode_item" data-element="selected-element">
                <!-- ko i18n: 'Registered Organisation' --><!-- /ko -->
            </span>
            <span class="mode_item" data-element="click-element" data-bind="event: { click: () => soleTraderMode() }">
                <!-- ko i18n: 'Sole Trader' --><!-- /ko -->
            </span>
        </div>
        <!-- /ko -->

        <!-- ko if: showSoleTrader -->
        <div class="mode_selector" data-element="popup-message">
            <span class="mode_item" data-element="click-element" data-bind="event: { click: () => registeredOrganisationMode() }">
                <!-- ko i18n: 'Registered Organisation' --><!-- /ko -->
            </span>
            <span class="mode_item" data-element="selected-element">
	        <!-- ko i18n: 'Sole Trader' --><!-- /ko -->
            </span>
        </div>

        <!-- ko if: showPopupMessage -->
        <div class="sole_trader_note" data-element="sole-trader">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
            </svg>
            <div class="popup_message" data-element="popup-message">
                <span data-element="click-element" data-bind="event: { click: () => openIframe() }">
                    <!-- ko i18n: 'Click here' --><!-- /ko -->
                </span>
                <!-- ko i18n: 'to log in or sign up as a Sole Trader.' --><!-- /ko -->
            </div>
            <span class="overlay" data-bind="event: { click: () => { hideIframe() } } "></span>
        </div>
        <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: showSoleTraderErrorMessage -->
        <div class="error message" data-element="error-message">
            <!-- ko i18n: 'Something went wrong with your request to Two. Your sole trader account could not be verified.' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form id="two_gateway_form"
              data-bind="attr: {'data-hasrequired': $t('* Required Fields')}"
              onkeydown="return event.key != 'Enter';">
            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
                <div class="field field-text required">
                    <label for="two_company_name" class="label">
                        <span><!-- ko i18n: 'Company Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_company_name"
                               name="payment[company_name]"
                               required="true"
                               data-bind='
                            attr: {
                                title: $t("Company Name")
                            },
                            value: companyName'
                               class="input-text"
                        />
                    </div>
                </div>
                <div class="field field-text required">
                    <label for="two_company_id" class="label">
                        <span><!-- ko i18n: 'Company ID'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_company_id"
                               name="payment[company_id]"
                               required="true"
                               data-bind='
                            attr: {
                                title: $t("Company ID")
                            },
                            value: companyId'
                               class="input-text"
                        />
                    </div>
                </div>
                <!-- ko if: showTwoTelephone() -->
                <div class="field field-text required">
                    <label for="two_telephone" class="label">
                    <span>
                        <!-- ko i18n: 'Phone Number'--><!-- /ko -->
                    </span>
                    </label>
                    <div class="control">
                        <input type="hidden" id="two_telephone_full" />
                        <input type="text"
                               id="two_telephone"
                               name="payment[telephone]"
                               required="true"
                               data-bind='
                            attr: {title: $t("Phone Number")},
                            value: telephone'
                               class="input-text"/>
                    </div>
                </div>
                <!-- /ko -->
                <div class="field field-text" data-bind="visible: isProjectFieldEnabled">
                    <label for="two_project" class="label">
                    <span>
                        <!-- ko i18n: 'Project'--><!-- /ko -->
                    </span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_project"
                               name="payment[project]"
                               data-bind='
                            attr: {title: $t("Project")},
                            value: project'
                               class="input-text"/>
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isDepartmentFieldEnabled">
                    <label for="two_department" class="label">
                        <span><!-- ko i18n: 'Department'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_department"
                               name="payment[department]"
                               data-bind='
                            attr: {title: $t("Department")},
                            value: department'
                               class="input-text"/>
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isOrderNoteFieldEnabled">
                    <label for="two_order_note" class="label">
                        <span><!-- ko i18n: 'Order Note'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_order_note"
                               name="payment[orderNote]"
                               data-bind='
                            attr: {title: $t("Order Note")},
                            value: orderNote'
                               class="input-text"/>
                    </div>
                </div>
                <div class="field field-text" data-bind="visible: isPONumberFieldEnabled">
                    <label for="two_po_number" class="label">
                        <span><!-- ko i18n: 'PO Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="two_po_number"
                               name="payment[poNumber]"
                               data-bind='
                            attr: {title: $t("PO Number")},
                            value: poNumber'
                               class="input-text"/>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
