<?xml version="1.0"?>
<!--
/**
 * Copyright © Two.inc All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="two_gateway" translate="label" class="two-extension" sortOrder="500">
            <label>TWO</label>
        </tab>
        <section id="two_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>two_gateway</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="branding" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Branding</label>
                <frontend_model>Two\Gateway\Block\Adminhtml\System\Config\Field\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="button" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>Two\Gateway\Block\Adminhtml\System\Config\Field\Version</frontend_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Environment</label>
                    <comment>Select between the Two sandbox and production environment. The sandbox environment does not involve real money.</comment>
                    <source_model>Two\Gateway\Model\Config\Source\Mode</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/mode</config_path>
                </field>
                <field id="merchant_short_name" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Two username</label>
                    <comment>Username provided by Two</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/merchant_short_name</config_path>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Api key</label>
                    <comment>API keys to the sandbox environment are available through the Two merchant portal, while production keys will be handed over to you by a Two representative</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/api_key</config_path>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Debug Mode</label>
                    <comment>The debug mode enables writing to the error logs below. Debug mode should only be enabled when the sandbox enviroment is active</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/two_payment/debug</config_path>
                </field>
                <field id="debug_button" translate="label" type="button" sortOrder="70" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label/>
                    <frontend_model>Two\Gateway\Block\Adminhtml\System\Config\Button\DebugCheck</frontend_model>
                </field>
                <field id="error_button" translate="label" type="button" sortOrder="80" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label/>
                    <frontend_model>Two\Gateway\Block\Adminhtml\System\Config\Button\ErrorCheck</frontend_model>
                </field>
            </group>
        </section>
        <section id="two_payment" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Payment</label>
            <tab>two_gateway</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="payment_method" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Payment method</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Two payments</label>
                    <comment>Activates Two as a payment option in the checkout</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/two_payment/active</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <comment>Descriptive title which gives the buyer a better understanding of Two payments e.g. Business invoice 14 days</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/title</config_path>
                </field>
                <field id="fulfill_order" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Fulfilment trigger</label>
                    <comment>Fulfilment can be trigger by either initializing shipping or creating an invoice in the Magento admin</comment>
                    <source_model>Two\Gateway\Model\Config\Source\Fulfill</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/fulfill_order</config_path>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort order</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/sort_order</config_path>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/allowspecific</config_path>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow to Specific Countries</label>
                    <comment>Select the countries where Two should be an available payment option</comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/specificcountry</config_path>
                </field>
                <field id="international_telephone_enabled" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable international telephone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Adds a country selector which enables the buyer to select the correct region number</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/international_telephone_enabled</config_path>
                </field>
                <field id="enable_department" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Add department field</label>
                    <comment>Optional field which enables the buyer to register the deparment the purchase is connected to. The information will be displayed on the invoice</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_department</config_path>
                </field>
                <field id="enable_order_note" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Add order note field</label>
                    <comment>Optional field which enables the buyer to register a note to the merchant. The information will be displayed on the invoice</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_order_note</config_path>
                </field>
                <field id="enable_project" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Add project field</label>
                    <comment>Optional field which enables the buyer to register the project the purchase is connected to. The information will be displayed on the invoice</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_project</config_path>
                </field>
                <field id="enable_po_number" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Add PO number field</label>
                    <comment>Optional field which enables the buyer to register their purchase order number</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_po_number</config_path>
                </field>
                <field id="enable_two_link" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Include "What is Two?" link in the checkout</label>
                    <comment>Adds a link to a website which describes how Two works from a buyer perspective</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_two_link</config_path>
                </field>
                <field id="company_autocomplete_enabled" translate="label" type="select" sortOrder="110"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate company name auto-complete</label>
                    <comment>Adds a searchable company name input field where the buyer can select their company from a dropdown menu</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/company_autocomplete_enabled</config_path>
                </field>
            </group>
        </section>
        <section id="two_search" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Search</label>
            <tab>two_gateway</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="search" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Search</label>
                <field id="enable_address_autocomplete" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable address autocomplete</label>
                    <comment>Based on selected country and company</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/two_payment/enable_address_autocomplete</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
